{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "singleQuote": false,
                "printWidth": 120
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "printWidth": 120,
                "proseWrap": "preserve"
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
